@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #c8c7c9;
    font-family: "Manrope", sans-serif;
  }
}

.StripeCheckout span,
.StripeCheckout {
  background: #5faff5 !important;
  border: #5faff5 !important;
  font-size: medium !important;
  font-weight: normal !important;
  color: rgb(237, 237, 237) !important;
}

.StripeCheckout span:hover,
.StripeCheckout:hover {
  background: #5faff5 !important;
  border: #5faff5 !important;
}
